.footer {
	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 20px;
	border-top: 1px solid black;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
	}
}
